/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.container {
  margin-top: 42px;
}

.counter {
    margin-top: 0;
    /* border: solid #4ec8ba 1px; */
    background-color: white;
    width: 65px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
}

.errorMessage {
  padding: 1px;
  border-radius: 3px;
  color: #fff;
  background-color: #EF534F;
}

.message {
  padding: 1px;
  border-radius: 3px;
  color: #000;
  /* background-color: #49BCAD; */
  display: block;
  font-size: 18px;
} 

.noDataMsg {
  padding: 1px;
  border-radius: 3px;
  color: #000;
  background-color: #49BCAD;
  display: block;
  font-size: 18px;
} 




.regNumList{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  margin: 16% 0 0 0;
}

.regNumList a{
  border: solid #000 3px;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  background: #C0C0C0 100%;
  font-size: 20px;
  margin: 0 0px 10px 0;
  color: #000;
}

